/*Fuentes importadas*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

i {
    font: var(--f-heading-md);
}

/* VARIABLES */

:root {

    /* Fuentes */

    --f-heading-xl: 400 clamp(3.4em, 5vw, 3.8em) "DM Serif Display", serif;
    --f-heading-lg: 400 clamp(2.7em, 4vw, 3em) "DM Serif Display", serif;
    --f-heading-md: 400 clamp(2.15em, 3vw, 2.4em) "DM Serif Display", serif;
    --f-heading-sm: 500 clamp(1.45em, 2vw, 1.9em) "DM Sans", sans-serif;
    --f-heading-xs: 500 clamp(1em, 2vw, 1.2em) "DM Sans", sans-serif;
    --f-body: 400 clamp(0.8em, 1vw, 1em) "DM Sans", sans-serif;
    --f-link: 500 clamp(0.8em, 1vw, 1em) "DM Sans", sans-serif;

    /* Colores */

    --c-text: #161616;
    --c-light: #f1eeee;
    --c-secondary: #f8f8f8 ;

    /* Espacios */

    --s-xl: 4rem;
    --s-lg: 3rem;
    --s-md: 2rem;
    --s-sm: 1rem;
    --s-xs: .7rem;

    /* Max-width */

    --mw-xl: 93.3vw;
    --mw-lg: 70.25rem;

    /* Border radius */

    --r-xl: 100%;
    --r-lg: 6.25rem;
    --r-md: 2.5rem;
    --r-sm: 7px;
    
}

/* COMPONENTES */

.text--xl {
    font: var(--f-heading-xl);
}

.text--lg {
    font: var(--f-heading-lg);
}

.text--md {
    font: var(--f-heading-md);
}

.text--sm {
    font: var(--f-heading-sm);
}

.text--xs {
    font: var(--f-heading-xs);
}

.body, p {
    font: var(--f-body);
}

.link {
    font: var(--f-link);
    transition: opacity .5s;

    &:hover {
        opacity: .7;
    }
}

.btn {
    font: var(--f-link);
    padding: var(--s-xs) var(--s-md);
    border-radius: var(--r-md);
    transition: transform .5s;

    &:hover {
        transform: scale(110%);
    }
}

.btn--dark {
    background-color: var(--c-text);
    color: var(--c-light);
}

.btn--light {
    background-color: var(--c-light);
    color: var(--c-text);
}

.section {
    padding: var(--s-xl) var(--s-sm);
}

.container {
    max-width: var(--mw-lg);
    margin: auto;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--s-sm);
    gap: var(--s-sm);
}

.flex-column {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--s-sm);
    gap: var(--s-sm);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: auto;
    gap: var(--s-sm);
}

/* HEADER */

.header {

    max-width: var(--mw-xl);
    margin: auto;

    & .header__logo {
        max-width: 9.375rem;
        transition: transform .5s;

        &:hover {
            transform: scale(110%);
        }
    }

    & .header__nav {
        & #menuBtn {
            background: transparent;
            border: none;
            & i {
                display: none;
            }      
        }
        & #closeBtn {
            background: transparent;
            border: none;
            & i {
                display: none;
            }      
        }
        & #servicesBtn {
            background: transparent;
            border: none;      
        }
        & #reviewsBtn {
            background: transparent;
            border: none;      
        }
    }

    

}


/* HERO */

.hero {

    color: var(--c-light);

    &.section {
        padding: 0 var(--s-sm);
    }

    & .hero__background {

        background: linear-gradient(
        rgba(0,0,0,.6)), url('../media/home_banner.webp');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        min-height: 85vh;
        border-radius: var(--r-sm);

    }
}

.hero-secondary {

    &.section {
        padding: 0 var(--s-sm) var(--s-xl);
    }
    
    & .hero-secondary__background {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        min-height: 45vh;
        border-radius: var(--r-sm); 
    }
}

.hero--products {
    background: url('../media/products_banner.webp');
}

.hero--contact {
    background: url('../media/contact_banner.webp');
}



/* PRODUCTS */

.products {

    & .products__block {

        flex-wrap: wrap;

        & .products__carrousel {

            flex: 1 0 15.625rem;

            & .product__card {

                position: relative;

                & img {
                    max-width:300px;
                }

                & span {
                    position: absolute;
                    bottom: var(--s-xl);
                }

            }

        }

        & .products__text-block {
            flex: 3.75 0 15.625rem;
        }
    }
}

/* SERVICES */

.services {
    background-color: var(--c-secondary);
    & .services__block {
        &.flex-column {
            gap: var(--s-xl);
        }
        & .services__cards {
            & .services__card {
                &.flex-column{
                    justify-content: space-between;
                }
                & img {
                    border-radius: var(--r-sm);
                }
            }
        }
    }
}

/* REVIEWS */

.reviews {
    & .reviews__block {
        &.flex-column {
            gap: var(--s-xl);
        }
        & .reviews__cards {
            & .reviews__card {
                background-color: var(--c-secondary);
                border-radius: var(--r-sm);
                &.flex-column {
                    padding: var(--s-md);
                }
                & picture {
                    & img {
                        max-width: 12.5rem;
                        border-radius: var(--r-xl);
                    }
                }
                & p {
                    text-align: justify;
                }

            } 
        }
    }
}

/* CONTACT */

.contact {

    background-color: var(--c-secondary);

    & .contact__block {

        &.flex-column {
            gap: var(--s-xl);
        }

        & .contact__form {

            & form {

                flex-wrap: wrap;
                text-align: start;

                & input, select {
                    padding: var(--s-xs) var(--s-xs);
                    border-radius: var(--r-sm);
                    border: 1px solid var(--c-text);
                    flex: 1 0 0;
                }

                & label {
                    flex: 1 0 0;
                }

                & .contact__services {
                    padding: var(--s-xl) 0;

                    & select {
                        width: 100%;
                    }
                }

                & .contact__buttons {
                    
                    & input[type="submit"], input[type="reset"] {
                        background-color: #ffffff;
                        font: var(--f-link);
                        padding: var(--s-xs) var(--s-md);
                        border-radius: var(--r-md);
                    }

                    & input[type="reset"]{
                        background-color: var(--c-text);
                        color: var(--c-light);      
                    }
                }

            }

        }
    }
}

/* FOOTER */

.footer {

    &.section {
        padding: 0 var(--s-sm);
    }

    & .footer__block {

        max-width: var(--mw-xl);
        margin: auto;
        align-items: start;

        & .footer__links {

            width: 100%;

            & .footer__logo {
                padding: 0.5rem 0 0 0;
                max-width: 7.375rem;
                transition: transform .5s;

                    &:hover {
                        transform: scale(110%);
                    }
            }

            & ul {
                &.flex-row {
                    padding: 0;
                }
            }
        }

        & .footer__social {

            width: 100%;

            & ul {

                padding: var(--s-sm) 0;

                & li {
                    & i {
                        font-size: clamp(1.45em, 2vw, 1.9em)
                    }
                }
            } 
        }
    }
}

/* PRODUCTS PAGE */

.product-section {
    background-color: var(--c-secondary);
    & .product-block {
        overflow: hidden;
        & .slider {
            width: 100%;        
            & .slider__block {
                transition: transform 1.5s;
                & .slide {
                    min-width: 33%;
                    & a {
                        &.flex-column {
                            align-items: flex-start;
                        }
                    }
                    & img {
                        max-width: 25rem;
                        border-radius: var(--r-sm);
                    }         
                    & .slide__name {
                        font-weight: 900;
                    }
                }
            }
            
        }
        & .slider__arrows {
           
            width: 50%;
            justify-content: space-between;
            
        
            & button {
                background: transparent;
                border: none;
            }
        }
    }
}

/* VERSIÓN DISPOSITIVOS MÓVILES */

@media (max-width: 480px) {
    .product-section {
        & .product-block {
            & .slider {            
                & .slider__block {
                    & .slide {
                        min-width: 100%;
                    }
                }
                
            }
        }
    }
}

@media (max-width: 767px) {
    .header {

        & .header__nav {

            & #menuBtn {
                background: transparent;
                border: none;
                & i {
                    display: block;
                }      
            }

            & .menu__links {
                font: var(--f-heading-md);
                display: none;
                flex-direction: column;
                justify-content: space-between;
                padding: var(--s-lg);
                text-align: center;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                height: 100vh;

                & li:first-of-type {
                    align-self: flex-end;
                }

                &.show {
                    display: flex;
                    background-color: var(--c-light);
                    & #closeBtn {
                        background: transparent;
                        border: none;
                        font-size: .7rem;
                        & i {
                            display: block;
                        }      
                    }
                }
            }
        }

    }

    .hero {
        & .hero__background {
            background-attachment: scroll;
        }
    }
}






